@import url('https://fonts.googleapis.com/css2?family=Gabarito');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500');

:root {
	--darkest-blue: #0b0c10;
	--darker-blue: #161c24;
	--dark-blue: #1f2833;
	--light-purple: #5f61ff;
	--text-white: #f5f5f5;
	--text-grey: #bebebe;
}

* {
	margin: 0;
	border: 0;
	padding: 0;
	color: var(--text-white);
	font-family: 'Gabarito', sans-serif;
	font-weight: 400;
}

body {
	background: var(--darker-blue);
}

h1 {
	font-weight: 500;
}

a {
	text-decoration: none;
	transition: 0.3s;
}

a:hover {
	color: var(--light-purple);
}

button {
	background: var(--dark-blue);
	border-radius: 5px;
	font-size: 1em;
	padding: 10px 15px;
	transition: 0.3s;
}

button:hover {
	background: var(--light-purple);
}

input {
	background: var(--darkest-blue);
	border-radius: 30px;
	padding: 10px 20px;
}

input::placeholder {
	color: rgb(225, 225, 225);
}

select {
	background: var(--darkest-blue);
	border-radius: 5px;
	padding: 10px;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--darker-blue);
}

::-webkit-scrollbar-thumb {
	background: var(--darkest-blue);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--dark-blue);
}

.spacer_10 {
	height: 10px;
}

.spacer_20 {
	height: 20px;
}

.spacer_30 {
	height: 30px;
}

.shadow {
	box-shadow: 0px 4px 1px 0px rgba(0, 0, 0, 0.4);
}

.standard_border {
	border: 5px solid var(--darkest-blue);
}

.button_container {
	display: flex;
	gap: 20px;
	justify-content: center;
}
